@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
a{
	text-decoration:none;
	outline:none;
	}
input{
	border:none;
	outline:none;
	}
::-moz-focus-inner{border:0;}
li{
	list-style:none;
	}
img{
	border:none;
	}
textarea{
	resize:none;
	}
body{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	}
#header{
	height:84px;
	width:100%;
	background-color:#fff;
	box-shadow:0px 0px 6px #999;
	}
.header_inner{
	width:1140px;
	height:84px;
	margin:0 auto;
	}
.logo{
	float:left;
	padding-top:19px;
	width:304px;
	}
.header_inner ul{
	float:left;
	}
.header_inner ul li{
	float:left;
	}
.header_inner ul li a{
	display:block;
	padding:0px 24px;
	line-height:81px;
	font-size:16px;
	border-top:3px solid #fff;
	color:#666;
	}
.header_inner ul li a:hover{
	border-top:3px solid #ed5844;
	background:url(../images/icon_bj_03.jpg) repeat-x center top;
	color:#ed5844;
	}
.header_inner ul li .active{
	border-top:3px solid #ed5844;
	background:url(../images/icon_bj_03.jpg) repeat-x center top;
	color:#ed5844;
	}
.icon{
	float:right;
	padding-top:30px;
	}
.icon a{
	display:block;
	width:23px;
	height:22px;
	float:left;
	margin-right:7px;
	background:url(../images/s-icons.png) no-repeat;
	}
.icon .ff{
	background-position:0px -7px;
	}
.icon .ff:hover{
	background-position:0px -46px;
	}
.icon .niao{
	background-position:-26px -7px;
	}
.icon .niao:hover{
	background-position:-26px -46px;
	}
.icon .xinhao{
	background-position:-52px -7px;
	}
.icon .xinhao:hover{
	background-position:-52px -46px;
	}
.icon .vi{
	background-position:-77px -7px;
	}
.icon .vi:hover{
	background-position:-77px -46px;
	}
.icon .you{
	background-position:-102px -7px;
	}
.icon .you:hover{
	background-position:-102px -46px;
	}
.icon .inn{
	background-position:-127px -7px;
	}
.icon .inn:hover{
	background-position:-127px -46px;
	}
#main{
	width:1140px;
	height:720px;
	margin:0 auto;
	text-align:center;
	}
#main h2{
	font-size:28px;
	line-height:94px;
	padding-top:58px;
	}
#main p{
	font-size:14px;
	color:#999;
	line-height:23px;
	padding-bottom:31px;
	}
#main form input{
	width:333px;
	height:47px;
	border:1px solid #ddd;
	background:#ededed;
	border-radius:4px;
	margin-right:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#aeaeae;
	padding:0 17px;
	}
#main form textarea{
	width:1081px;
	height:214px;
	border:1px solid #ddd;
	background:#ededed;
	border-radius:4px;
	margin-top:24px;
	margin-bottom:45px;
	padding:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#aeaeae;
	}
#main #buttom{
	width:225px;
	height:57px;
	border-radius:4px;
	border:none;
	color:#fff;
	background:url(../images/botton_bj_07.jpg) no-repeat left top;
	cursor:pointer;
	}
#footer{
	height:273px;
	background-color:#373737;
	}
.footer_inner{
	width:1140px;
	height:273px;
	margin:0 auto;
	}
.footer_left{
	width:271px;
	height:273px;
	float:left;
	margin-left:14px;
	}
.footer_left h3{
	font-size:18px;
	line-height:46px;
	color:#fff;
	padding-top:15px;
	}
.footer_cont p{
	font-size:14px;
	line-height:24px;
	color:#999;
	padding-top:18px;
	}
.footer_border{
	width:132px;
	border-top:1px solid #444348;
	border-bottom:1px solid #060606;
	}
.footer_cont{
	width:255px;
	height:210px;
	}
.footer_icon{
	width:266px;
	height:185px;
	padding-top:25px;
	}
.footer_icon a{
	display:block;
	font-size:14px;
	line-height:37px;
	color:#999;
	float:left;
	margin-right:3px;
	margin-bottom:4px;
	padding:0 10px;
	background-color:rgba(0,0,0,0.4);
	}
.footer_icon a:hover{
	background-color:rgb(0,0,0);
	}
.footer_xia{
	height:160px;
	width:220px;
	padding-top:18px;
	}
.footer_latest{
	width:220px;
	height:75px;
	padding-left:30px;
	background:url(../images/tw.png) no-repeat 2px 8px;
	}
.footer_latest p{
	font-size:14px;
	line-height:22px;
	color:#999;
	}

.footer_latest span{
	color:#ccc;
	}
.footer_latest a{
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:33px;
	}
.footer_pic{
	width:272px;
	height:160px;
	padding-top:18px;
	}
.footer_pic .aa{
	width:71px;
	height:61px;
	background:rgba(0,0,0,0.3);
	position:absolute;
	left:0px;
	top:0px;
	display:none;
	}
.footer_pic .pic{
	float:left;
	margin:0px 2px 3px 1px;
	position:relative;
	}
.footer_pic .pic:hover .aa{
	display:block;
	}
#copy{
	height:53px;
	background-color:#232323;
	}
.copy_inner{
	width:1140px;
	height:53px;
	margin:0 auto;
	}
.copy_logo{
	float:left;
	padding-top:16px;
	}
.copy_inner p{
	float:right;
	font-size:14px;
	color:#fff;
	line-height:53px;
	}
.copy_inner span{
	color:#ed5844;
	}
.movetop{
	position:fixed;
	right:0;
	bottom:0;
	}
